Tugas 3_IAP.json
{
  "name": "Tugas 3_IAP",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generate Gambar Konten Otomatis",
        "formDescription": "isi informasi dibawah ini untuk memulai proses generate Video",
        "formFields": {
          "values": [
            {
              "fieldLabel": "prompt",
              "fieldName": "prompt"
            },
            {
              "fieldLabel": "img_url",
              "fieldName": "img_url"
            },
            {
              "fieldLabel": "task_type",
              "fieldName": "task_type",
              "placeholder": "mj_txt2img"
            },
            {
              "fieldLabel": "api_key",
              "fieldType": "textarea",
              "fieldName": "api_key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "97a758cb-41cc-4a86-8d4c-2086f947269b",
      "name": "On form submission",
      "webhookId": "e4087e3c-c09d-407e-8e4c-8e863422a4d2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "d6e6c791-0789-4185-9a63-0f9032d778f4",
              "leftValue": "success",
              "rightValue": "={{ $json.data }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "8f761d5a-b688-4495-bdac-93ca92f1814a",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  videourl: result.resultUrls[0] || null,\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        -16
      ],
      "id": "236304a8-54e1-487c-b3f9-77f100c0f683",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "7710bd5b-0990-465c-8941-2ef0393ff8c2",
      "name": "Menunggu Proses Generate Gambar",
      "webhookId": "aa53f179-f181-449e-9038-e5a42d8ed4eb"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"On form submission\"].json[\"api_key\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "86fd6f30-4ddb-4ed6-bc86-5582fc5b6d5e",
      "name": "Mendapatkan Status Generate"
    },
    {
      "parameters": {
        "url": "={{ $json.videourl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1312,
        -16
      ],
      "id": "dc0f792a-c4c5-4b55-aa4c-57f029b03fb1",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "name": "TUGAS TOPIK 3 ",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1nDq4Uxj0TLQ6R2cyioen4Hb5VueO1hWW",
          "mode": "list",
          "cachedResultName": "HASIL TUGAS TOPIK 3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1nDq4Uxj0TLQ6R2cyioen4Hb5VueO1hWW"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1520,
        -16
      ],
      "id": "e7ef61b4-02c1-49f8-9a20-9d7d324508b2",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0okA8nisFetfCcV9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/image-to-video\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"image_urls\": [\n      \"{{ $json.img_url }}\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "5ab4345e-b77b-4897-8aac-592fc0ac648d",
      "name": "Mengirim Video Generation Request ke KIE.AI API"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Mengirim Video Generation Request ke KIE.AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menunggu Proses Generate Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menunggu Proses Generate Gambar": {
      "main": [
        [
          {
            "node": "Mendapatkan Status Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mendapatkan Status Generate": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengirim Video Generation Request ke KIE.AI API": {
      "main": [
        [
          {
            "node": "Menunggu Proses Generate Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a18a376a-79bb-4e45-8788-04ee3e9db50d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f0ce829ce71044abcecbf09417e4a9c6d178f874d34c47f0e6cb4e665542834c"
  },
  "id": "Xu4Oil0mSztrv97J",
  "tags": []
}